@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Ensure the trial button is positioned at exactly 100vh */
.container {
  min-height: calc(100vh - 48px); /* 48px is the height of the "Start without Business Class" button */
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}